<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('index') }}">BliblioMediathèque</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('index') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('app_shop_book') }}">Nos livres</a></li>


            </ul>
            {% if app.user %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bi bi-person-circle fs-2 " style="color:var(--bs-green)" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownUser">
                            <li><a class="dropdown-item" href="{{ path('app_account') }}">Mon comptes</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('app_admin') }}">Administration</a></li>
                            {% endif %}

                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bi bi-person-circle fs-2 " style="color:var(--bs-red)" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownUser">
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">Créer un compte</a></li>

                        </ul>
                    </li>
                </ul>
            {% endif %}


        </div>
    </div>
</nav>
